# Flutter/Dart
.dart_tool/
/.dart_tool/
/.packages
/.flutter-plugins
/.flutter-plugins-dependencies
/.pub-cache/
/.pub/
/build/

# Generated localization
lib/l10n/*.dart
!lib/l10n/*.arb

# Android
/android/.gradle/
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/local.properties
/android/captures/
/android/key.properties
*.jks
*.keystore

# iOS
/ios/Pods/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/App.framework
/ios/Flutter/engine/
/ios/Flutter/ephemeral/
/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Flutter/.last_build_id

# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspace

# IDEs
/.idea/
*.iml
/.vscode/

# Misc
*.log
*.tmp
*.temp
*.swp
*.swo
*.bak
*.class
*.pyc
*.DS_Store
Thumbs.db
coverage/

# Keys and env
.env
.env.*

# Others
/.flutter-plugins
/.flutter-plugins-dependencies
/android/.idea/modules.xml
